<div class="qr">
  <img src="https://wallet1.burst-team.us:2083{{imgSrc}}" />
</div>

<div class="public">
  <div class="row">
    <div class="table__label">
      Burst Address:
    </div>
    <div class="table__text">
      {{ account.accountRS }}
    </div>
  </div>
</div>

<div class="private">
  <div class="row">
    <div class="table__label">
      Passphrase:
    </div>
    <div class="table__text unselectable">
      {{ this.accountService.getCompletePassphrase() }}
    </div>
    <!-- <div>
      <button class="copy-button" matTooltip="Click to copy passphrase" mat-raised-button (click)="copy()">
        <mat-icon>file_copy</mat-icon>
      </button>
    </div> -->
  </div>
  <div class="row">
    <div class="table__label">
      Private Key:
    </div>
    <div class="table__text">
      {{ account.keys.signPrivateKey }}
    </div>
  </div>
</div>

<img src="https://github.com/blankey1337/burst-paper-wallet/blob/master/src/assets/images/burst_paper_wallet.png?raw=true" class="bg" />

<div class="navigation noprint">

  <button class="print-button" matTooltip="Click to print" mat-raised-button (click)="print()">
    <mat-icon>print</mat-icon> Print
  </button>

  <button class="btn-danger" mat-raised-button (click)="reset()">Back</button>

</div>
